name: Build and Push to Docker Hub

on:
  push:
    branches: [ "master", "main", "prod" ] # Trigger on your main branches

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          # This tags the image with 'latest' in your specific repo
          tags: cbehn2/cnc-app-server:latest
